h1 {
  text-align: center;
}

.card {
  border: solid black 1px;
  width: 100%;
  height: 250px;
  margin: auto;
  padding: 25px;
}

.card-title {
  text-align: center;
}

p.card-text {
  text-align: center;
  color: rgb(29, 24, 59);
}

#text-showing1 {
  display: none;
}

#text-showing2 {
  display: none;
}

#text-showing3 {
  display: none;
}

#text-showing4 {
  display: none;
}

#text-showing5 {
  display: none;
}

#text-showing6 {
  display: none;
}

.clickable1 {
  cursor: pointer;
  color: #0088cc;
}

.clickable2 {
  cursor: pointer;
  color: #0088cc;
}

.clickable3 {
  cursor: pointer;
  color: #0088cc;
}

.clickable4 {
  cursor: pointer;
  color: #0088cc;
}

.clickable5 {
  cursor: pointer;
  color: #0088cc;
}

.clickable6 {
  cursor: pointer;
  color: #0088cc;
}